* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1100px;
    font-family: 'Open Sans', sans-serif;
    background-color: #86b4cb;
}

nav h1 {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin: auto;
    padding: 0 20px 20px;
    height: 100px;
    color: #06364f;
    border-top: 1px solid white;
    width: 90%;
}

.full {
    display: none;
}

footer a {
    text-transform: uppercase;
    color:#06364f;
}

nav {
    font-weight: 600;
    padding: 25px;
}

h1, .top-nav {
    text-align: center;
}

.main-title {
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 40px;
    color: #06364f;
    background-color: white;
}

.top-nav, .top-nav li {
    width: 100%;
}

h1 a, .top-nav a {
    color: #06364f
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0px;
    margin: 10px auto;
    background-color: white;
}

.top-nav a {
    text-transform: uppercase;
}

.intro {
    width: 100%;
    padding: 20px 20px 40px 20px;
    margin: 0 auto;
}

.intro p {
    text-align: center;
    font-size: 16px;
    color: white;
    padding-top: 20px;
}

.skills {
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
    background-color: tomato;
    color: white;
    text-align: center;
}

.portfolio p {
    padding-top: 10px;
}

.img-profile {
    display: block;
    width: 100%;
    margin: 0 auto 0px;
}

.portfolio-container {
    background-color: white;
    padding-bottom: 40px;
}

.portfolio {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-weight: 300;
}

.port {
    margin: 15px;
    min-height: 300px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 0;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
}

.port-title {
    font-size: 18px;
    font-weight: 600;
}

.img {
    display: block;
    width: 100%;
    margin: 20px auto 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contact {
    padding: 20px 20px 50px 20px;
    margin: 0 auto;
    color:#06364f;
    text-align: center;
}

.contact h3 {
    text-transform: uppercase;
}

.email {
    margin-top: 10px;
}

footer h3 {
    font-family: 'Pacifico', cursive;
}

@media screen and (min-width: 768px) {
    
    nav {
        margin: auto;
        padding: 40px 20px 20px;
        border-bottom: 1px solid white;
        width: 90%;
    }
    
    .top-nav {
        margin-top: 0;
    }

    .top-nav a:hover {
        color: white;
        font-weight: bold;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .top-nav a {
        color:#06364f;
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 20px;
    }

    .intro p {
        text-align: left;
        font-size: 16px;
        color: white;
        margin: 40px 20px 40px 20px;
        padding: 0;
    }

    .img-profile {
        width: 30%;
        margin: 40px 20px 40px 20px;
        border: 2px solid #06364f;
    }

    .portfolio {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .port {
        flex-basis: calc(50% - 30px);
    }
        
    .top {
        display: none;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
    }

    .footer-nav a:hover {
        color: white;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {

    nav {
        padding-top: 30px;
    }

    h1 {
        float: left;
        text-align: left;
        height: 12px;
        line-height: 12px;
    }

    .top-nav {
        text-align: right;
        margin: 0;
    }

    .top-nav a:hover {
        color: white;
        font-weight: bold;
    }

    .intro p {
        text-align: left;
        font-size: 16px;
        color: white;
        margin: 40px;
        padding: 0;
    }

    .img-profile {
        width: 25%;
        margin: 40px;
        border: 2px solid #06364f;
    }

    .portfolio-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .port {
        flex-basis: calc(33.33% - 30px);
    }

    footer {
        padding: 60px;
    }

    .footer-nav a:hover {
        color: white;
        font-weight: bold;
    }
}
